/* Each error box */
.error-box {
    background-color: var(--danger-color);
    color: var(--page-background);
    min-width: 300px;
    max-width: 400px;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    animation: slideIn 0.3s ease-out;
}

.error-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.error-header button {
    background: transparent;
    border: none;
    color: var(--page-background);
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    transition: transform 0.1s ease, color 0.2s ease;
}

.error-header button:hover {
    color: var(--danger-color-hover);
    transform: scale(1.2);
}

.error-body {
    font-size: large;
    line-height: 1.4;
}

.error-box.ng-leave {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
}